* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNextCyr-Light", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  src: local("AvenirNextCyr-Light"), local("Avenir Next"),
    url("AvenirNextCyr-Light.woff2") format("woff2"),
    url("AvenirNextCyr-Light.woff") format("woff"),
    url("AvenirNextCyr-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"),
    url("AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("AvenirNextCyr-Bold.woff2") format("woff2"),
    url("AvenirNextCyr-Bold.woff") format("woff"),
    url("AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* add bar */
.first-bar {
  background-color: #212529;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

.header {
  max-width: 2000px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: auto;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid #eeeeee;
}

.menu {
  display: none;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 860px;
}

.header-menu > ul {
  list-style: none;
  display: flex;
}

.header-menu > ul > li {
  padding-right: 14px;
}

.header-menu > ul > li > a {
  text-decoration: none;
  color: #121212;
  font-size: 18px;
  font-weight: 100;
}

.header-menu > ul > li > a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 860px;
}

.icons > p {
  padding-left: 14px;
}

.menu-icon > i {
  font-size: 24px;
  color: #121212;
  cursor: pointer;
}

/* .lang-container::before {
  content: "\F3EE";
  font-family: "bootstrap-icons";
  font-size: 20px;
} */

/* .lang-container {
  background-color: #f2f2f2;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-radius: 20px;
} */

/* .lang {
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #121212;
  cursor: pointer;
  width: 20px;
} */

.menu-lang-btn {
  background-color: #f2f2f2;
  width: 64px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

.globe {
  font-size: 18px;
  margin-right: 10px;
}

.lang-arrow {
  font-size: 10px;
  margin-top: 3px;
  color: #82899f;
}

.menu-lang-btn:hover > .lang-arrow {
  color: #121212;
}

.menu-btn-box {
  width: 140px;
  background-color: #eeeeee;
  display: none;
  margin: 10px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  margin-left: -75px;
}

.menu-btn-show {
  display: block;
}

.menu-btn-box > ul {
  list-style-type: none;
}

.menu-btn-box > ul > li {
  border-bottom: 1px solid #eeeeee;
  font-size: 18px;
  padding: 10px;
  text-transform: capitalize;
}

.menu-btn-box > ul > li:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.menu-btn-box > ul > li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu-btn-box > ul > li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-btn-box > ul > li:last-child {
  border-bottom: none;
}

.menu-btn-box > ul > li > a {
  text-decoration: none;
  color: #121212;
}

/* banner */

.banner {
  max-width: 2000px;
  margin: auto;
  display: flex;
  position: relative;
}

.banner-full {
  max-width: 100%;
  height: auto;
}

.banner-mobile {
  display: none;
}

.title-center {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
}

.title-center > h1 {
  color: #fff;
  font-size: 2.6rem;
  text-align: center;
  width: 540px;
  height: 105px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.title-center > h2 {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}

.shop-now {
  background-color: #1ba1e2;
  color: #fff;
  border: none;
  width: 115px;
  padding: 12px 18px 11px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.shop-now:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1ba1e2;
  z-index: -2;
}
.shop-now:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #1891cb;
  transition: all 0.3s;
  z-index: -1;
}
.shop-now:hover {
  color: #fff;
}
.shop-now:hover:before {
  width: 100%;
}

.more {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

/* numbers section  */
.number-container {
  max-width: 2000px;
  color: #121212;
  margin: auto;
}

.inner-container {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.number-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.number-text > h2 {
  font-size: 32px;
}

.number-text > p {
  width: 675px;
  margin: 10px;
  font-size: 1.2rem;
  line-height: 1.8;
}

.numbers {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.numbers > section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.numbers > section > h2 {
  width: 124px;
  height: 124px;
  border: 4px solid #bae3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bae3f6;
  font-size: 90px;
  border-radius: 50%;
}

.numbers > section > h3 {
  font-weight: 300;
  margin: 10px 0;
}

.numbers > section > p {
  line-height: 1.8;
}

/* gallery  */
.gallery-container {
  display: flex;
  max-width: 2000px;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.gallery-container > h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 8px;
  margin: 0 30px;
}

.gallery-card {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  display: block;
  width: 100%;
  position: relative;
}

.product-image > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.product-image {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.first {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
}
.first:hover {
  opacity: 0;
}

.second {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  transition: transform 0.5s ease;
}

.second:hover {
  opacity: 1;
  transform: scale(1.03);
}

.product-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.buy > p {
  text-transform: uppercase;
  color: #1891cb;
}

.buy > p:hover {
  text-decoration: underline;
}

.start-price {
  text-decoration: line-through;
  padding-right: 5px;
}

.sale,
.sale-info {
  color: #ff555d;
}

.sale-info:hover {
  text-decoration: underline;
}

/* Home Goods Necklaces On Sale */

.collection-container {
  max-width: 2000px;
  padding: 0 30px;
  margin: auto;
  display: flex;
}

.item-container > img {
  height: 330px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.item-container {
  position: relative;
  height: auto;
  cursor: pointer;
}

.home-item {
  width: 33.333%;
  margin-right: 10px;
}

.other-item {
  width: 50%;
}

.necklaces-sale-container {
  display: flex;
  width: 66.666%;
  gap: 10px;
}

.white-box {
  position: absolute;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffffbf;
}

.white-box > p {
  padding: 30px;
}

/* sale card section */
.sale-card-container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  gap: 30px;
  width: 100%;
  padding: 0 30px;
}

.big-card {
  width: 68%;
  display: flex;
}

.smaller-card-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

/*  Modern and Ethical section  */
.modern-ethical-container {
  max-width: 2000px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  gap: 30px;
}

.modern,
.ethical {
  height: 334px;
  position: relative;
}

.modern > img,
.ethical > img,
.time > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.me-white-box {
  position: absolute;
  bottom: 30px;
  top: 30px;
  display: flex;
  padding: 60px;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  background: #ffffffbf;
}

.me-white-box > h2 {
  font-size: 32px;
}

.me-white-box > p {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 16px;
}

.modern-box {
  left: 30px;
}

.ethical-box {
  right: 30px;
}

/* Video section   */
.video-container {
  max-width: 2000px;
  margin: 30px auto;
  display: flex;
  position: relative;
}

.video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title-center-video {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
}

.title-center-video > h1 {
  color: #fff;
  font-size: 42px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
  text-align: center;
}

.title-center-video > h3 {
  color: #fff;
  width: 700px;
  font-size: 1.75rem;
  text-align: center;
  line-height: 38px;
  font-weight: 300;
  padding: 0 20px;
}

/*  News section */
.news-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.news-container > h2 {
  text-align: center;
  padding: 20px;
  font-size: 32px;
}

.articles {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

article {
  width: 50%;
}

article > img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.article-date {
  color: #717171;
  padding: 5px 0;
  font-size: 16px;
}

article > h2 > a {
  text-decoration: none;
  color: #121212;
  display: block;
  margin-bottom: 15px;
}

article > p {
  line-height: 24px;
  font-size: 16px;
}

.read-more {
  margin-bottom: 15px;
  display: block;
}

.read-more,
.comment {
  text-decoration: none;
  color: #1891cb;
}

.comment {
  border-right: 1px solid #717171;
  padding-right: 10px;
  margin-right: 10px;
}

.com-tags {
  display: flex;
}

.read-more:hover,
.comment:hover {
  text-decoration: underline;
}

.tags > span {
  color: #1891cb;
  cursor: pointer;
}

/* Item add-to-cart information section */

.single-item-cart-container {
  max-width: 2000px;
  margin: 50px auto;
  background-color: #f3f3f3;
  padding: 0 30px;
}

.single-item-info {
  position: sticky;
  top: 80px;
  height: 100%;
}

.single-item-cart:has(.single-item-info) {
  height: auto;
}

.single-item-cart {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
}

.single-item-images > .zoom > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.single-item-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.zoom {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.zoom-image {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffffbf;
  z-index: 1;
  cursor: pointer;
}

.single-item-info,
.single-item-images {
  max-width: 435px;
  width: 100%;
  /* height: auto; */
  padding: 30px 0;
}

.single-item-info > h2 {
  font-size: 32px;
}

.single-item-info > h3 {
  font-weight: lighter;
  font-size: 20px;
  color: #121212;
  margin-top: 10px;
}

.tax {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.material {
  font-weight: 300;
}

.material-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: transparent;
  color: #121212;
  border: 1px solid #121212;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.active {
  background-color: #121212;
  color: #fff;
}

.in-stock {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pulse {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 14px;
  width: 14px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.pulse.green {
  background: rgba(84, 198, 58, 1);
  box-shadow: 0 0 0 0 rgba(84, 198, 58, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(84, 198, 58, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(84, 198, 58, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(84, 198, 58, 0);
  }
}

.ship {
  font-size: 16px;
  margin-left: 8px;
}

.ship-icon {
  padding-right: 5px;
}

.shop-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.buy-it-now {
  padding: 15px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  cursor: pointer;
  font-size: 14px;
}

.add-to-cart-btn {
  border: 2px solid #1ba1e2;
  background: transparent;
  color: #1ba1e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  border: 2px solid #1891cb;
  color: #1891cb;
}

.bold-par {
  font-weight: bolder;
  margin: 15px 0;
}

.bold-par > a {
  text-decoration: none;
  color: #1ba1e2;
}

.bold-par > a:hover {
  text-decoration: underline;
  color: #1891cb;
}

details summary {
  cursor: pointer;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid #121212;
}
details {
  background: transparent;
  width: 100%;
}

details > p {
  padding: 0 10px;
}

details[open] summary {
  background: transparent;
}

details[open] {
  padding-bottom: 20px;
}

.question-icon {
  padding-right: 10px;
}

.carusel-btns {
  display: none;
}

/* FAQ */

.FAQ-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

.FAQ-container > h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

details:last-child {
  border-bottom: 1px solid #121212;
}

/* As featured in section */
.featured-container {
  display: flex;
  margin: 0 auto;
  max-width: 2000px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.featured-container > h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.logos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.logos > img {
  width: 100px;
}

/* store time section */

.store-time-container {
  margin: 50px auto 30px auto;
  max-width: 2000px;
  padding: 0 30px;
}

.time {
  height: 460px;
  position: relative;
}

.time-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  left: 30px;
  gap: 20px;
  width: 350px;
}

.address,
.times {
  text-align: center;
  font-size: 18px;
  color: #121212;
  line-height: 24px;
}

/* Subscribe section */

.subscribe-container {
  max-width: 2000px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
}

.subscribe-info {
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 0 30px;
  width: 100%;
}
.subscribe-info > h2 {
  font-size: 32px;
  text-align: center;
}

.subscribe-info > p {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 550px;
}

input {
  outline: none;
  font-size: 18px;
  line-height: 25px;
  min-height: 34px;
  height: 49px;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 0 10px;
  width: 100%;
}

.subscribe > button {
  height: 49px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #121212;
  color: #fff;
  border: 1px solid #121212;
  padding: 0 40px;
  cursor: pointer;
}

.subscribe > button:hover {
  background-color: #1f1f1f;
}

/* Subscribe section */

footer {
  background-color: #121212;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top > div {
  flex: 1;
}

.footer-top > div > p {
  color: #b1b1b1;
}

.footer-top > div > h3 {
  margin-bottom: 15px;
}

.footer-top > div > ul {
  list-style-type: none;
}

.footer-top > div > ul > li > a {
  color: #b1b1b1;
  text-decoration: none;
  font-size: 16px;
  line-height: 35px;
}

.footer-top > div > ul > li > a > i {
  padding-right: 10px;
}

.footer-top > div > ul > li > a:hover {
  color: #fff;
}

.footer-socials {
  column-count: 2;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.footer-bottom > div > p {
  color: #b1b1b1;
  line-height: 22px;
  font-size: 16px;
}

.footer-bottom > div > p:first-child {
  margin-bottom: 10px;
}

.footer-bottom > div > p > a {
  color: #b1b1b1;
  text-decoration: none;
}
.footer-bottom > div > p > a:hover {
  color: #fff;
}

.footer-lang {
  position: relative;
}

.footer-lang > button {
  padding: 10px;
  background-color: transparent;
  color: #b1b1b1;
  border-radius: 6px;
  border: 1px solid #b1b1b1;
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 140px;
}

.footer-lang > button:hover {
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: underline;
}

.btn-box {
  width: 140px;
  background-color: #eeeeee;
  display: none;
  margin: 5px 0;
  border-radius: 5px;
  position: absolute;
  margin-top: -220px;
}

.btn-box > ul {
  list-style-type: none;
}

.btn-box > ul > li {
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  padding: 10px;
  text-transform: capitalize;
}

.btn-box > ul > li:last-child {
  border-bottom: none;
}

.btn-box > ul > li > a {
  text-decoration: none;
  color: #121212;
}

.show-lang-btn {
  display: block;
}

.btn-box > ul > li:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.btn-box > ul > li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-box > ul > li:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* navbar plus on hover */

.submenu {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 100%;
  gap: 40px;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  width: 100%;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.submenu.active {
  display: flex;
}

.header-menu > ul > li {
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.menu-item:hover + .submenu {
  display: flex;
}

.submenu-img {
  cursor: pointer;
}

.submenu-img > img {
  width: 300px;
}

.submenu-img > p {
  color: #000;
  text-align: center;
}

.submenu > ul {
  list-style-type: none;
}

.submenu-h3 {
  font-size: 18px;
  color: #1ba1e2 !important;
}

.submenu > ul > li > a {
  color: #121212;
  text-decoration: none;
  line-height: 30px;
}

.submenu > ul > li > a:hover {
  text-decoration: underline;
}

/* responsive */

@media only screen and (max-width: 960px) {
  .header-menu {
    display: none;
  }

  .menu {
    display: flex;
    width: 860px;
  }

  .numbers {
    grid-template-columns: auto auto;
  }

  .inner-container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
  }

  .number-text > p {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .collection-container {
    display: flex;
    flex-direction: column;
  }

  .home-item {
    width: 100%;
  }

  .item-container.home-item > img {
    height: 390px;
    margin-bottom: 10px;
  }

  .necklaces-sale-container {
    width: 100%;
  }

  .sale-card-container {
    gap: 20px;
  }

  .smaller-card-container {
    gap: 20px;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-top > div {
    margin-bottom: 30px;
  }

  .shop-btn {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

@media only screen and (max-width: 620px) {
  /* .icons > select {
    display: none;
  } */

  .menu-lang-btn {
    display: none;
  }

  .user-icon {
    display: none;
  }

  .banner-full {
    display: none;
  }

  .banner-mobile {
    width: 100%;
    display: flex;
    object-fit: cover;
    height: 620px;
  }

  .title-center > h1 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    width: 260px;
  }

  .title-center > h2 {
    font-size: 1rem;
    font-family: "AvenirNextCyr-Light", sans-serif;
  }

  .numbers {
    grid-template-columns: auto;
  }

  .necklaces-sale-container {
    flex-direction: column;
  }

  .other-item {
    width: 100%;
  }

  .item-container.other-item > img {
    height: 390px;
  }

  .white-box {
    bottom: 20px;
    right: 30px;
  }

  .sale-card-container {
    flex-direction: column;
    padding: 0 30px;
  }

  .big-card {
    width: 100%;
  }

  .smaller-card-container {
    width: 100%;
    gap: 30px;
  }

  .modern,
  .ethical,
  .time {
    height: auto;
    position: static;
    display: flex;
    flex-direction: column;
  }

  .modern > img,
  .ethical > img,
  .time > img {
    height: 370px;
  }

  .me-white-box {
    position: static;
    padding: 40px;
    width: 100%;
    background: #f3f3f3;
    text-align: center;
  }

  .articles {
    display: flex;
    flex-direction: column;
  }
  article {
    width: 100%;
  }

  .store-time-container {
    padding: 0 20px;
  }

  .time-image {
    height: 200px;
  }

  .store-time-container {
    padding: 0 20px;
  }

  .subscribe {
    flex-direction: column;
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
    display: flex;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-bottom > div > p:first-child {
    display: none;
  }

  .footer-lang {
    margin-bottom: 20px;
  }

  .btn-box {
    text-align: start;
  }

  .single-item-cart {
    flex-direction: column;
    gap: 0;
  }

  .single-item-images {
    width: auto;
    max-width: 1000px;
  }

  .single-item-info {
    padding-top: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .dot {
    font-size: 10px;
  }

  .carusel-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #bababa;
  }

  .carusel-btns > i {
    cursor: pointer;
  }

  .carusel-btns > i:first-child,
  .carusel-btns > i:last-child {
    padding: 0 10px;
  }

  .carusel-btns > i:first-child:hover,
  .carusel-btns > i:last-child:hover {
    color: #121212;
  }

  .dot-active {
    color: #121212;
  }

  .shop-btn {
    flex-direction: row;
    gap: 10px;
  }
}

@media only screen and (max-width: 680px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .product-info {
    flex-direction: column-reverse;
    align-items: start;
  }

  .video {
    height: 400px;
    object-fit: cover;
  }

  .title-center-video > h3 {
    width: 100%;
    font-size: 1.1rem;
    line-height: 24px;
  }
}

@media only screen and (max-width: 420px) {
  .shop-btn {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}
