* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNextCyr-Light", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  src: local("AvenirNextCyr-Light"), local("Avenir Next"),
    url("AvenirNextCyr-Light.woff2") format("woff2"),
    url("AvenirNextCyr-Light.woff") format("woff"),
    url("AvenirNextCyr-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("AvenirNextCyr-Bold.eot");
  src: local("Avenir Next Cyr Bold"), local("AvenirNextCyr-Bold"),
    url("AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("AvenirNextCyr-Bold.woff2") format("woff2"),
    url("AvenirNextCyr-Bold.woff") format("woff"),
    url("AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* add bar */
.first-bar {
  background-color: #212529;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

.header {
  max-width: 2000px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: auto;
}

.menu {
  display: none;
}

.header-menu {
  display: flex;
  align-items: center;
  width: 860px;
}

.header-menu > ul {
  list-style: none;
  display: flex;
}

.header-menu > ul > li {
  padding-right: 14px;
}

.header-menu > ul > li > a {
  text-decoration: none;
  color: #121212;
  font-size: 18px;
  font-weight: 100;
}

.header-menu > ul > li > a:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 860px;
}

.icons > p {
  padding-left: 14px;
}

.menu-icon > i {
  font-size: 24px;
  color: #121212;
  cursor: pointer;
}

.lang-container::before {
  content: "\F3EE";
  font-family: "bootstrap-icons";
  font-size: 20px;
}

.lang-container {
  background-color: #f2f2f2;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-radius: 20px;
}

.lang {
  border: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #121212;
  cursor: pointer;
  width: 20px;
}

/* banner */

.banner {
  max-width: 2000px;
  margin: auto;
  display: flex;
  position: relative;
}

.banner-full {
  max-width: 100%;
  height: auto;
}

.banner-mobile {
  display: none;
}

.title-center {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
}

.title-center > h1 {
  color: #fff;
  font-size: 2.6rem;
  text-align: center;
  width: 540px;
  height: 105px;
  font-family: "AvenirNextCyr-Bold", sans-serif;
}

.title-center > h2 {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}

.shop-now {
  background-color: #1ba1e2;
  color: #fff;
  border: none;
  width: 115px;
  padding: 12px 18px 11px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.shop-now:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1ba1e2;
  z-index: -2;
}
.shop-now:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #1891cb;
  transition: all 0.3s;
  z-index: -1;
}
.shop-now:hover {
  color: #fff;
}
.shop-now:hover:before {
  width: 100%;
}

.more {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

/* numbers section  */
.number-container {
  max-width: 2000px;
  color: #121212;
  margin: auto;
}

.inner-container {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.number-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.number-text > h2 {
  font-size: 32px;
}

.number-text > p {
  width: 675px;
  margin: 10px;
  font-size: 1.2rem;
  line-height: 1.8;
}

.numbers {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.numbers > section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.numbers > section > h2 {
  width: 124px;
  height: 124px;
  border: 4px solid #bae3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bae3f6;
  font-size: 90px;
  border-radius: 50%;
}

.numbers > section > h3 {
  font-weight: 300;
  margin: 10px 0;
}

.numbers > section > p {
  line-height: 1.8;
}

/* gallery  */
.gallery-container {
  display: flex;
  max-width: 2000px;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.gallery-container > h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 8px;
  margin: 0 30px;
}

.gallery-card {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  display: block;
  width: 100%;
  position: relative;
}

.product-image > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.product-image {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.first {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
}
.first:hover {
  opacity: 0;
}

.second {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  transition: transform 0.5s ease;
}

.second:hover {
  opacity: 1;
  transform: scale(1.03);
}

.product-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.buy > p {
  text-transform: uppercase;
  color: #1891cb;
}

.buy > p:hover {
  text-decoration: underline;
}

.start-price {
  text-decoration: line-through;
  padding-right: 5px;
}

.sale,
.sale-info {
  color: #ff555d;
}

.sale-info:hover {
  text-decoration: underline;
}

/* Home Goods Necklaces On Sale */

.collection-container {
  max-width: 2000px;
  padding: 0 30px;
  margin: auto;
  display: flex;
}

.item-container > img {
  height: 330px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.item-container {
  position: relative;
  height: auto;
  cursor: pointer;
}

.home-item {
  width: 33.333%;
  margin-right: 10px;
}

.other-item {
  width: 50%;
}

.necklaces-sale-container {
  display: flex;
  width: 66.666%;
  gap: 10px;
}

.white-box {
  position: absolute;
  bottom: 20px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffffbf;
}

.white-box > p {
  padding: 30px;
}

/* sale card section */
.sale-card-container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  gap: 30px;
  width: 100%;
  padding: 0 30px;
}

.big-card {
  width: 68%;
  display: flex;
}

.smaller-card-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

/* responsive */

@media only screen and (max-width: 960px) {
  .header-menu {
    display: none;
  }

  .menu {
    display: flex;
    width: 860px;
  }

  .numbers {
    grid-template-columns: auto auto;
  }

  .inner-container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
  }

  .number-text > p {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .collection-container {
    display: flex;
    flex-direction: column;
  }

  .home-item {
    width: 100%;
  }

  .item-container.home-item > img {
    height: 390px;
    margin-bottom: 10px;
  }

  .necklaces-sale-container {
    width: 100%;
  }

  .sale-card-container {
    gap: 20px;
  }

  .smaller-card-container {
    gap: 20px;
  }
}

@media only screen and (max-width: 620px) {
  .icons > select {
    display: none;
  }

  .user-icon {
    display: none;
  }

  .banner-full {
    display: none;
  }

  .banner-mobile {
    width: 100%;
    display: flex;
    object-fit: cover;
    height: 620px;
  }

  .title-center > h1 {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    width: 260px;
  }

  .title-center > h2 {
    font-size: 1rem;
    font-family: "AvenirNextCyr-Light", sans-serif;
  }

  .numbers {
    grid-template-columns: auto;
  }

  .necklaces-sale-container {
    flex-direction: column;
  }

  .other-item {
    width: 100%;
  }

  .item-container.other-item > img {
    height: 390px;
  }

  .white-box {
    bottom: 20px;
    right: 30px;
  }

  .sale-card-container {
    flex-direction: column;
    padding: 0 30px;
  }

  .big-card {
    width: 100%;
  }

  .smaller-card-container {
    width: 100%;
    gap: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .product-info {
    flex-direction: column-reverse;
    align-items: start;
  }
}
